<h1>Iniciar Session</h1>
<a href="/api/sessions/github-login">Login with GitHub</a>
<hr />
<form action="/api/sessions/login" method="post">
    Email: <input type="text" name="email"><br>
    Password: <input type="text" name="password"><br><br>
    <a href="/forget-password">Olvidé mi contraseña</a><br><br>
    <input type="submit" value="Iniciar Sesion"> | <a href="/register">Register</a>
</form>
