<div>
    <h2>Bienvenido/a {{first_name}}</h2>
</div>
<div>
    <ul>
        <li>First name: {{first_name}}</li>
        <li>E-mail: {{email}}</li>
        <li>Role: {{role}}</li>
    </ul>
</div>
<div>
    [<a href="/products">Products</a> | <a href="/api/sessions/logout">Logout</a>]
</div>